*{/* esses códigos dentro do *{} serve para tirar as predefinições que ja veem*/
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
}
.btnRegistro{
margin-left: 1rem ;
margin-top: 1rem ;
border: none;
outline: none;
font-weight: 600;
background-color: #186592;
color: white;
padding: 0.5rem;
border-radius: 1rem;
}
.btnRegistro:active{
scale: 0.95;
}
.table{
margin-top: 5rem;
}
form{
position: fixed;
display: flex;
flex-direction: column;
gap: 1.3rem;
align-items: center;
justify-content: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
background-color: white;
border-radius: 0.5rem;
}
.areasInputs{
border: 1px solid black;
padding-left: 0.3rem;
width: 90%;
padding: 0.2rem;
position: relative;
}
.input{
background-color: transparent;
border: none;
outline: none;
width: 98%;

}
input[type=number]::-webkit-inner-spin-button { 
-webkit-appearance: none;  
}
.btnCadastrar{
margin-top: 2rem;
padding: 1rem;
font-size: 1.2rem;
font-weight: 600;
border: 1px solid black;
border-radius: 1rem;
}
.span{
display: none;
position: absolute;
left: 0;
top: 2rem;
font-size: 0.8rem;
color:red;
}
.span2{
position: absolute;
left: 0;
top: 2rem;
font-size: 0.8rem;
color:red; 
}
.btnEditar{
background-color: transparent;
font-weight: 900;
font-size: 1.3rem;
border: none;
color: rgb(54, 175, 6);
}
.btnEditar:active{
scale: 0.95;
}
.btnExcluir{
background-color: transparent;
font-weight: 900;
font-size: 1.3rem;
border: none;
color: red;
}
.btnExcluir:active{
scale: 0.95;
}

.areaFiltro{
display: flex;
gap: 1rem;
margin-top: 5rem;
}

/*IPHONE SE PARA BAIXO*/ 
@media  (max-width: 376px )  { 
.custom-table{
font-size: 0.6rem;
}

form{
width: 20em;
height: 25em;
top: -50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
transition: 0.5s;
}
form.aparecer{
transition: 0.5s;
top: 50%;
}
.btnEditar,.btnExcluir{
font-size: 0.7rem;
}
}
    
    
/*CELL POSIÇÃO PORTA RETRATO*/
@media (min-width: 377px) and (max-width: 575.98px) {
.custom-table{
font-size: 0.6rem;
}
form{
width: 20em;
height: 23em;
top: -50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
transition: 0.5s;
}
form.aparecer{
transition: 0.5s;
top: 50%;
}
.btnEditar,.btnExcluir{
font-size: 0.7rem;
} 
}
                
/*CELL MODO PAISAGEM*/
@media (min-width: 576px) and (max-width: 991.98px) { 
body{
height: 500px;
}
.custom-table{
font-size: 0.6rem;
}
form{
position: absolute;
width: 20em;
height: 23em;
top: -50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
transition: 0.5s;
}
form.aparecer{
transition: 0.5s;
top: 50%;
}
.btnEditar,.btnExcluir{
font-size: 0.7rem;
} 
}
@media (max-height:300px){
form.aparecer{
transition: 0.5s;
top: 120%;
}
}      
/*NOTEBOOKS*/
@media (min-width: 992px) and (max-width: 1199.98px) {
.custom-table{
font-size: 1rem;
}
form{
width: 30em;
height: 30em;
top: -50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
transition: 0.5s;
}
form.aparecer{
transition: 0.5s;
top: 50%;
}
.btnEditar,.btnExcluir{
font-size: 1rem;
} 
}
        
@media (min-width: 1200px){
.custom-table{
font-size: 1rem;
}
form{
width: 30em;
height: 30em;
top: -50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem;
transition: 0.5s;
}
form.aparecer{
transition: 0.5s;
top: 50%;
}
.btnEditar,.btnExcluir{
font-size: 1rem;
} 
}
